<section class="content-section bg-info" id="about">
  <div class="container text-center text-white" style="max-width: 750px;">
    <div class="d-block mx-auto">
      <h2 class="mb-4">About</h2>
      <p class="lead mb-4">
        My name is Rafi Barash and I'm a Junior majoring in Computer Science at
        the University of Minnesota, with a specialization in AI and Big Data.
        I'm passionate about machine learning and big data analytics, as well as
        full-stack web development. Minnesota Club Tennis and slack-lining are
        also pretty cool. This summer I will complete a software engineering
        internship at Google.
      </p>
      <h4 class="mb-3">Connect With Me</h4>
      <!-- Social Icons -->
      <div class="mb-5">
        <ul class="d-flex flex-row justify-content-center list-unstyled">
          <li class="nav-item mx-1">
            <a href="https://github.com/rafibarash" target="_blank"
              ><i class="fab fa-github-square fa-3x" style="color: white;"></i
            ></a>
          </li>
          <li class="nav-item mx-1">
            <a href="https://open.spotify.com/user/1215854478" target="_blank"
              ><i class="fab fa-spotify fa-3x" style="color: lightgreen;"></i
            ></a>
          </li>
          <li class="nav-item mx-1">
            <a
              href="https://www.goodreads.com/user/show/49531496-rafi-barash"
              target="_blank"
              ><i class="fab fa-goodreads fa-3x" style="color: ghostwhite;"></i
            ></a>
          </li>
          <li class="nav-item mx-1">
            <a href="https://www.instagram.com/rafibarash/" target="_blank"
              ><i class="fab fa-instagram fa-3x" style="color: lightpink;"></i
            ></a>
          </li>
          <li class="nav-item mx-1">
            <a href="https://www.linkedin.com/in/rafi-barash/" target="_blank"
              ><i class="fab fa-linkedin fa-3x" style="color: skyblue;"></i
            ></a>
          </li>
        </ul>
      </div>

      <a class="btn btn-light btn-xl js-scroll-trigger" href="#portfolio"
        >Portfolio</a
      >
    </div>
  </div>
</section>
