<section class="content-section" id="portfolio">
  <div class="container">
    <div class="text-center">
      <h2 class="mb-5">Portfolio</h2>
    </div>
    <div class="row no-gutters">
      <!-- ML March Madness -->
      <div class="col-lg-6">
        <a class="portfolio-item" href="https://github.com/rafibarash/ml_march_madness/blob/master/Neural_Net_March_Madness_ML.ipynb">
              <span class="caption">
                <span class="caption-content">
                  <h2>ML March Madness</h2>
                  <p class="mb-0">A machine learning attempt to predict results of march madness matchups, based on years of regular season and tourney data.</p>
                </span>
              </span>
          <img class="img-fluid lazy" src="./img/ml_march_madness.png" alt="machine learning march madness prediction">
        </a>
      </div>
      <!-- Global City Data -->
      <div class="col-lg-6">
        <a class="portfolio-item" href="https://globalcitydata.herokuapp.com">
              <span class="caption">
                <span class="caption-content">
                  <h2>Global City Data</h2>
                  <p class="mb-0">Used by the U of Minnesota to host descriptions of open access urban data sets collected by a network of international researchers.</p>
                </span>
              </span>
          <img class="img-fluid lazy" src="./img/gcd.png" alt="global city data fullstack website">
        </a>
      </div>
      <!-- Planet Wars -->
      <div class="col-lg-6">
        <a class="portfolio-item" href="https://github.com/rafibarash/planetwars">
              <span class="caption">
                <span class="caption-content">
                  <h2>Planet Wars Strategy</h2>
                  <p class="mb-0">Given a planet wars game engine, my friend and I created a strategy in Java to take over the solar system. Mwuahahaha! School project.</p>
                </span>
              </span>
          <img class="img-fluid lazy" src="./img/planetwars.png" alt="planet wars strategy">
        </a>
      </div>
      <!-- Data Structures -->
      <div class="col-lg-6">
        <a class="portfolio-item" href="https://github.com/rafibarash/Data-Structures-Cheat-Sheet">
              <span class="caption">
                <span class="caption-content">
                  <h2>Data Structures Cheat Sheet</h2>
                  <p class="mb-0">Java implementations of popular data structures, complete with time + space analysis.</p>
                </span>
              </span>
          <img class="img-fluid lazy" src="./img/data-structures.png" alt="data structures cheat sheet">
        </a>
      </div>
      <!-- Anu Ramaswami's Website -->
      <div class="col-lg-6">
        <a class="portfolio-item" href="https://anuramaswami.com">
              <span class="caption">
                <span class="caption-content">
                  <h2>Anu Ramaswami's Website</h2>
                  <p class="mb-0">A Django powered website for Anu Ramaswami, Chair of Science, Technology, and Public Policy at the Humphrey School of Public Affairs.</p>
                </span>
              </span>
          <img class="img-fluid lazy" src="./img/anu-website.png" alt="anu ramaswami's website">
        </a>
      </div>
      <!-- This Website -->
      <div class="col-lg-6">
        <a class="portfolio-item" href="https://rafibarash.com">
              <span class="caption">
                <span class="caption-content">
                  <h2>This Website</h2>
                  <p class="mb-0">I built this very website! It is completely static and hosted by the good grace of Github Pages.</p>
                </span>
              </span>
          <img class="img-fluid lazy" src="./img/mywebsite.png" alt="this website">
        </a>
      </div>
      <!-- Blackjack -->
      <div class="col-lg-6">
        <a class="portfolio-item" href="https://github.com/rafibarash/blackjack-simulation">
              <span class="caption">
                <span class="caption-content">
                  <h2>Blackjack</h2>
                  <p class="mb-0 ">Play blackjack with as many players as you'd like against a computer dealer in this interactive Python script. Money updated in real time.</p>
                </span>
              </span>
          <img class="img-fluid lazy" src="./img/blackjack.png" alt="blackjack">
        </a>
      </div>
      <!-- Forest Fire Simulation -->
      <div class="col-lg-6">
        <a class="portfolio-item" href="https://github.com/rafibarash/forest-fire">
              <span class="caption">
                <span class="caption-content">
                  <h2>Forest Fire Simulation</h2>
                  <p class="mb-0">A Python script visualizing a forest fire in turtle graphics, dynamically based on forest characteristic inputs. School project.</p>
                </span>
              </span>
          <img class="img-fluid lazy" src="./img/forestfire.png" alt="forest fire simulation">
        </a>
      </div>
      <!-- Hangman -->
      <div class="col-lg-6">
        <a class="portfolio-item" href="https://github.com/rafibarash/hangman">
              <span class="caption">
                <span class="caption-content">
                  <h2>Hangman</h2>
                  <p class="mb-0">An interactive Python script where you can play hangman against the computer, visualized in turtle graphics. School project.</p>
                </span>
              </span>
          <img class="img-fluid lazy" src="./img/hangman.png" alt="hangman">
        </a>
      </div>
    </div>
  </div>
</section>