<section class="content-section" id="portfolio">
  <div class="container">
    {# <div class="text-center"> #}
      <h2 class="mb-5 text-center">Portfolio</h2>
    {# </div> #}
    <div class="row no-gutters">
      {% for p in portfolio %}
      <div class="col-lg-6">
        <a class="portfolio-item" href={{p.href}} target="_blank">
              <span class="caption">
                <span class="caption-content">
                  <h3>{{p.title}}</h3>
                  <p class="mb-0">{{p.description}}</p>
                </span>
              </span>
          <img class="img-fluid lazy" src={{p.src}} alt={{p.title}}>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>