<header class="masthead d-flex">
  <div class="container text-center my-auto">
    <div class="container">
      <!-- Typed.js -->
      <section id="typedjs">
        <div id="typed-strings">
          <p>Hi, I'm a <strong>college student.</strong></p>
          <p>Hi, I'm a <strong>developer.</strong></p>
          <h1>Hi, I'm <strong>Rafi Barash.</strong></h1>
        </div>
        <span id="typed"></span>
      </section>
    </div>
    <a class="btn btn-info btn-xl js-scroll-trigger" href="#about">About Me</a>
  </div>
  <div class="overlay"></div>
</header>