<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="My name is Rafi Barash and I'm a Junior majoring in Computer Science at the University of Minnesota, with a specialization in AI and Big Data.">
    <meta name="author" content="Rafi Barash">

    <title>Rafi Barash</title>

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/stylish-portfolio.min.css" rel="stylesheet">

    <!-- Lazy Load Images -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"></script>

  </head>

  <body id="page-top">

    {% block content %} {% endblock %}

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/stylish-portfolio.min.js"></script>

    <!-- Typed.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.6/typed.min.js"></script>
    <script>
      var typed = new Typed("#typed", {
        stringsElement: '#typed-strings',
        typeSpeed: 25,
        backSpeed: 25,
        backDelay: 1000,
        startDelay: 1000,
        loop: false,
      });
    </script>

    <!-- Jquery Easing -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  </body>

</html>
